# currently a quarto project is required for metadata or brand extensions to work
project:
  type: default

format:
  html:
    theme:
      light: 
        - default
        - brand
      dark: 
        - default
        - brand
